@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins';
    -webkit-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;}
.container {
    height: 550px;
    overflow: hidden;
}
body {
    overflow: hidden;
}
.all-users {
    height:420px;
    max-height: max-content;
    overflow-y: scroll;
  }
  

  ::-webkit-scrollbar {
    display: none;
}